@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string[] tableHeaders = new string[]
            {"UserId","FirstName","LastName","Email"

            };
}
<style>
table, th, td {
  border:1px solid black;
  width:auto;
}
</style>
<div class="text-center">
    <h1 class="display-4">UserFrontend</h1>


   <table style="">
  <tr>
            @{
                foreach(var tableHeader in tableHeaders)
                {
                    <th>@tableHeader</th>
                }
            }
   
  </tr>
  <tr>
    <td>1</td>
    <td>Maria </td>
    <td>Anders</td>
     <td>Maria@gmail.com</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Francisco </td>
    <td>Chang</td>
     <td>Chang@gmail.com</td>
  </tr>
</table>
</div>
