@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
table, th, td {
  border:1px solid black;
  width:auto;
}
</style>
<div class="text-center">
    <h1 class="display-4">UserFrontend</h1>


   <table style="">
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria </td>
    <td>Anders</td>
     <td>Maria@gmail.com</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco </td>
    <td>Chang</td>
     <td>Chang@gmail.com</td>
  </tr>
</table>
</div>
