@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Frontend for a restaurant.</p>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Restaurant Id</th>
        <th>Restaurant Name</th>
        <th>Phone Number</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Restaurants) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
        </tr>
    }
    </tbody>
</table>
